# Machine learning Fundamentals

In [1]:
print('What is machine learning');

# q: What is machine learning?
# a:

What is machine learning

# pandas example

In [ ]:
# installing pandas in jypyter notebook
!pip install pandas

In [4]:
# importing pandas library
import pandas as pd
# defining url from where data needs to be loaded (data is present as csv)
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv";
# loading data into dataframe
# DataFrame - data frame is a bi-dimentional data structure, similar to a table
# with rows and columns. One of the most common python lib to handle such type of structure is
# Pandas
df  = pd.read_csv(url)

In [5]:
# printing first 5 rows in data set

df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE